*{
    margin: 0%;
    padding: 0%;
     /* background: url(https://wallpapercave.com/wp/wp3906260.jpg); */
     background: url(https://wallpaperaccess.com/full/397972.jpg);
     /* background-color: #068915; */
     border: none;
}
#canvas{
    border : 5px solid #077e15; 
    /* background: url(https://img.freepik.com/free-vector/seamless-textured-grass-natural-grass-pattern_172107-1308.jpg?w=360); */
    height: 689px;
    width: 685px;
    /* margin-top: 0px; */
    /* margin-left: 450px; */
    display: flex;
    float: left;
}

#restart{
    display: none;
    
    float: left;
    margin-top: 69px;
    margin-left: 69px;
    border: none;
    color: #F9CA0C;
     /* float: left; */
  /* font-family: cursive;
  font-size: 30px;
  font-weight: 900; */

}
#restart:hover{
    cursor: pointer;
}
/* #header{
    width: 100%;
    height: 50px;
    background-color: black;
} */
#scoreBox{
  color: #F9CA0C;
  /* width: 40px; */
  background: none;
  display: flex;
  /* float: left; */
  font-family: cursive;
  font-size: 30px;
  font-weight: 900;

}
#hiScoreBox{
    color: #F9CA0C;
   display: flex;
   background: none;
   /* float: left; */
   font-family: cursive;
   margin-top: 20px;
   font-size: 30px;
   font-weight: 900;
}
#scoreBoard{
    /* background-color:  #068915; */
     background: none ;
    height: 400px;
    width: 250px;
    float: left;
    padding-top: 250px;
}
#main-body{
    margin-top: 32px;
    margin-left: 200px;
}

